<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="icon" type="image/x-icon" href="/static/images/Favicon.png">
    <link rel="stylesheet" href="/static/stylesheets/home.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.datatables.net/v/bs4/dt-1.13.8/datatables.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark p-3" style="background-color: #0f1923;">
        <div class="container">
            <a href="/" class="navbar-brand fs-4 fw-bold">VALORANT</a>
            <button class="navbar-toggler" data-bs-target="#my-nav" data-bs-toggle="collapse" aria-controls="my-nav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="color: #076dd2;"></span>
            </button>
            <div id="my-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item active" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <a href="#one" class="nav-link"><img src="<%= image%>" class="sign-in-image">
                            <%= name %>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="#" class="nav-link"><i class="fas fa-home me-1"></i>Home</a>
                    </li>
                    <li class="nav-item active">
                        <a href="#two" class="nav-link"><i class="fas fa-person me-1"></i>Agents</a>
                    </li>
                    <li class="nav-item active">
                        <a href="#three" class="nav-link"><i class="fa-solid fa-map-location-dot"></i> Maps</a>
                    </li>
                    <li class="nav-item active">
                        <a href="/logout" class="nav-link"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#0f1923;">
                    <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: rgb(255, 255, 255);">My Profile
                    </h1>
                    <button type="button" class="btn-close" style="background-color: #ffffff;" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="<%= image %>" class="modal-image" alt="">
                    <h6>Logined as : <%= name %>
                    </h6>
                    <h6>Email id : <%= email %>
                    </h6>
                </div>
                <div class="modal-footer" style="background-color:#0f1923;">
                    <button type="button" class="btn btn-secondary" style="background-color:#ff4656;"
                        data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--modal-->

    <section id="one" class="d-flex text-center">
    </section>

    <!--  Agents -->
    <section id="two" class="p-3">
        <div class="container p-3">
            <h1 class="fw-bold text-light mx-5" style="font-family: 'ValorantFont', sans-serif;">AGENTS</h1>
            <div class="row" style="background-color: #ff4656; height: 3px;">
                <hr>
            </div>
            <div class="row p-5">
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/static/images/carousel/Astra.png" class="d-block w-100" alt="...">
                            <div class="desc">
                                <div class="row p-2">
                                    <h2 class="text text-lg-lg text-md-md text-sm-sm text-xs-xs">ASTRA</h2>
                                    <h5 class="text text-light">Type : <span>Controller</span>
                                    </h5>
                                    <h5 class="text text-light">Origin : <span>Ghana <img
                                                src="/static/images/Country/Ghana.png" class="img-fluid country-flag"
                                                alt=""></span></h5>
                                    <p class="text text-light"><i>Ghanaian Agent <span class="text fw-bold">Astra</span>
                                            harnesses the energies of the cosmos to reshape battlefields to her whim.
                                            With full command of her astral form and a talent for deep strategic
                                            foresight, she’s always eons ahead of her enemy’s next move.</i></p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="/static/images/carousel/Breach.jpg" class="d-block w-100" alt="...">
                            <div class="desc">
                                <div class="row p-2">
                                    <h2 class="text text-lg-lg text-md-md text-sm-sm text-xs-xs">BREACH</h2>
                                    <h5 class="text text-light">Type : <span>Initiator</span>
                                    </h5>
                                    <h5 class="text text-light">Origin : <span>Sweeden <img
                                                src="/static/images/Country/Sweeden.png" class="img-fluid country-flag"
                                                alt=""></span></h5>
                                    <p class="text text-light"><i>
                                            <span class="text fw-bold">Breach</span>, the bionic Swede, fires powerful,
                                            targeted kinetic blasts to aggressively clear a path through enemy ground.
                                            The damage and disruption he inflicts ensures no fight is ever fair.</i>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="/static/images/carousel/Brim.jpg" class="d-block w-100" alt="...">
                            <div class="desc">
                                <div class="row p-2">
                                    <h2 class="text text-lg-lg text-md-md text-sm-sm text-xs-xs">BRIMSTONE</h2>
                                    <h5 class="text text-light">Type : <span>Controller</span>
                                    </h5>
                                    <h5 class="text text-light">Origin : <span>United States <img
                                                src="/static/images/Country/Us.png" class="img-fluid country-flag"
                                                alt=""></span></h5>
                                    <p class="text text-light"><i>
                                            Joining from the U.S.A., <span class="text fw-bold">Brimstone's</span>
                                            orbital arsenal ensures his squad always has the advantage. His ability to
                                            deliver utility precisely and from a distance make him an unmatched
                                            boots-on-the-ground commander.</i>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="/static/images/carousel/Chamber.png" class="d-block w-100" alt="...">
                            <div class="desc">
                                <div class="row p-2">
                                    <h2 class="text text-lg-lg text-md-md text-sm-sm text-xs-xs">CHABER</h2>
                                    <h5 class="text text-light">Type : <span>Sentinel</span>
                                    </h5>
                                    <h5 class="text text-light">Origin : <span>France <img
                                                src="/static/images/Country/France.png" class="img-fluid country-flag"
                                                alt=""></span></h5>
                                    <p class="text text-light"><i>
                                            Well-dressed and well-armed, French weapons designer <span
                                                class="text fw-bold">Chamber</span> expels aggressors with deadly
                                            precision. He leverages his custom arsenal to hold the line and pick off
                                            enemies from afar, with a contingency built for every plan.</i>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="/static/images/carousel/Cypher.jpg" class="d-block w-100" alt="...">
                            <div class="desc">
                                <div class="row p-2">
                                    <h2 class="text text-lg-lg text-md-md text-sm-sm text-xs-xs">CYPHER</h2>
                                    <h5 class="text text-light">Type : <span>Sentinal</span>
                                    </h5>
                                    <h5 class="text text-light">Origin : <span>Morocco <img
                                                src="/static/images/Country/Morocco.png" class="img-fluid country-flag"
                                                alt=""></span></h5>
                                    <p class="text text-light"><i>
                                            The Moroccan information broker, <span class="text fw-bold">Cypher</span> is
                                            a one-man surveillance network who keeps tabs on the enemy’s every move. No
                                            secret is safe. No maneuver goes unseen. Cypher is always watching.</i>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="/static/images/carousel/Deadlock.jpeg" class="d-block w-100" alt="...">
                            <div class="desc">
                                <div class="row p-2">
                                    <h2 class="text text-lg-lg text-md-md text-sm-sm text-xs-xs">DEADLOCK</h2>
                                    <h5 class="text text-light">Type : <span>Sentinel</span>
                                    </h5>
                                    <h5 class="text text-light">Origin : <span>Norway <img
                                                src="/static/images/Country/Norway.png" class="img-fluid country-flag"
                                                alt=""></span></h5>
                                    <p class="text text-light"><i>
                                            Norwegian operative <span class="text fw-bold">Deadlock</span> deploys an
                                            array of cutting-edge nanowire to secure the battlefield from even the most
                                            lethal assault. No one escapes her vigilant watch, nor survives her
                                            unyielding ferocity.</i>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="/static/images/carousel/Fade.jpg" class="d-block w-100" alt="...">
                            <div class="desc">
                                <div class="row p-2">
                                    <h2 class="text text-lg-lg text-md-md text-sm-sm text-xs-xs">FADE</h2>
                                    <h5 class="text text-light">Type : <span>Initiator</span>
                                    </h5>
                                    <h5 class="text text-light">Origin : <span>Turkiye <img
                                                src="/static/images/Country/Turkiye.png" class="img-fluid country-flag"
                                                alt=""></span></h5>
                                    <p class="text text-light"><i>
                                            Turkish bounty hunter <span class="text fw-bold">Fade</span> unleashes the
                                            power of raw nightmare to seize enemy secrets. Attuned with terror itself,
                                            she hunts down targets and reveals their deepest fears - before crushing
                                            them in the dark.</i>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="/static/images/carousel/Gekko.png" class="d-block w-100" alt="...">
                            <div class="desc">
                                <div class="row p-2">
                                    <h2 class="text text-lg-lg text-md-md text-sm-sm text-xs-xs">Gekko</h2>
                                    <h5 class="text text-light">Type : <span>Initiator</span>
                                    </h5>
                                    <h5 class="text text-light">Origin : <span>United States <img
                                                src="/static/images/Country/Us.png" class="img-fluid country-flag"
                                                alt=""></span></h5>
                                    <p class="text text-light"><i>
                                            <span class="text fw-bold">Gekko</span> the Angeleno leads a tight-knit crew
                                            of calamitous creatures. His buddies bound forward, scattering enemies out
                                            of the way, with Gekko chasing them down to regroup and go again.</i>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="/static/images/carousel/Harbor.png" class="d-block w-100" alt="...">
                            <div class="desc">
                                <div class="row p-2">
                                    <h2 class="text text-lg-lg text-md-md text-sm-sm text-xs-xs">HARBOR</h2>
                                    <h5 class="text text-light">Type : <span>Controller</span>
                                    </h5>
                                    <h5 class="text text-light">Origin : <span>India <img
                                                src="/static/images/Country/India.png" class="img-fluid country-flag"
                                                alt=""></span></h5>
                                    <p class="text text-light"><i>
                                            Hailing from India's coast, <span class="text fw-bold">Harbor</span> storms
                                            the field wielding ancient technology with dominion over water. He unleashes
                                            frothing rapids and crushing waves to shield his allies, or pummel those
                                            that oppose him.</i>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="/static/images/carousel/Iso.jpeg" class="d-block w-100" alt="...">
                            <div class="desc">
                                <div class="row p-2">
                                    <h2 class="text text-lg-lg text-md-md text-sm-sm text-xs-xs">ISO</h2>
                                    <h5 class="text text-light">Type : <span>Duelist</span>
                                    </h5>
                                    <h5 class="text text-light">Origin : <span>China <img
                                                src="/static/images/Country/China.png" class="img-fluid country-flag"
                                                alt=""></span></h5>
                                    <p class="text text-light"><i>
                                            Chinese fixer for hire <span class="text fw-bold">Iso</span> goes into a
                                            flow state to dismantle the opposition. Reconfiguring ambient energy into
                                            bulletproof protection, he advances with focus towards his next duel to the
                                            death.</i>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="/static/images/carousel/Jet.jpg" class="d-block w-100" alt="...">
                            <div class="desc">
                                <div class="row p-2">
                                    <h2 class="text text-lg-lg text-md-md text-sm-sm text-xs-xs">JET</h2>
                                    <h5 class="text text-light">Type : <span>Duelist</span>
                                    </h5>
                                    <h5 class="text text-light">Origin : <span>South Korea <img
                                                src="/static/images/Country/Southkorea.png"
                                                class="img-fluid country-flag" alt=""></span></h5>
                                    <p class="text text-light"><i>
                                            Representing her home country of South Korea, <span
                                                class="text fw-bold">Jett's</span> agile and evasive fighting style lets
                                            her take risks no one else can. She runs circles around every skirmish,
                                            cutting enemies before they even know what hit them.</i>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="/static/images/carousel/Kayo.jpg" class="d-block w-100" alt="...">
                            <div class="desc">
                                <div class="row p-2">
                                    <h2 class="text text-lg-lg text-md-md text-sm-sm text-xs-xs">KAY/O</h2>
                                    <h5 class="text text-light">Type : <span>Initiator</span>
                                    </h5>
                                    <h5 class="text text-light">Origin : <span>Alternate Timeline Earth </span></h5>
                                    <p class="text text-light"><i>
                                            <span class="text fw-bold">KAY/O </span>is a machine of war built for a
                                            single purpose: neutralizing radiants. His power to suppress enemy abilities
                                            dismantles his opponents' capacity to fight back, securing him and his
                                            allies the ultimate edge.
                                        </i>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="/static/images/carousel/Killjoy.jpg" class="d-block w-100" alt="...">
                            <div class="desc">
                                <div class="row p-2">
                                    <h2 class="text text-lg-lg text-md-md text-sm-sm text-xs-xs">KILL JOY</h2>
                                    <h5 class="text text-light">Type : <span>Sentinel</span>
                                    </h5>
                                    <h5 class="text text-light">Origin : <span>Germany <img
                                                src="/static/images/Country/Germany.png" class="img-fluid country-flag"
                                                alt=""></span></h5>
                                    <p class="text text-light"><i>
                                            The genius of Germany, <span class="text fw-bold">Killjoy</span>
                                            effortlessly secures key battlefield positions with her arsenal of
                                            inventions. If their damage doesn't take her enemies out, the debuff her
                                            robots provide will make short work of them.</i>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="/static/images/carousel/Neon.jpg" class="d-block w-100" alt="...">
                            <div class="desc">
                                <div class="row p-2">
                                    <h2 class="text text-lg-lg text-md-md text-sm-sm text-xs-xs">NEON</h2>
                                    <h5 class="text text-light">Type : <span>Duelist</span>
                                    </h5>
                                    <h5 class="text text-light">Origin : <span>Philippines <img
                                                src="/static/images/Country/Philippines.png"
                                                class="img-fluid country-flag" alt=""></span></h5>
                                    <p class="text text-light"><i>
                                            Filipino Agent, <span class="text fw-bold">Neon</span>, surges forward at
                                            shocking speeds, discharging bursts of bioelectric radiance as fast as her
                                            body generates it. She races ahead to catch enemies off guard, then strikes
                                            them down quicker than lightning.</i>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="/static/images/carousel/Omen.jpg" class="d-block w-100" alt="...">
                            <div class="desc">
                                <div class="row p-2">
                                    <h2 class="text text-lg-lg text-md-md text-sm-sm text-xs-xs">OMEN</h2>
                                    <h5 class="text text-light">Type : <span>Controller</span>
                                    </h5>
                                    <h5 class="text text-light">Origin : <span>Unknown </span></h5>
                                    <p class="text text-light"><i>
                                            A phantom of a memory, <span class="text fw-bold">Omen</span> hunts in the
                                            shadows. He renders enemies blind, teleports across the field, then lets
                                            paranoia take hold as his foe scrambles to learn where he might strike
                                            next.</i>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="/static/images/carousel/Pheonix.png" class="d-block w-100" alt="...">
                            <div class="desc">
                                <div class="row p-2">
                                    <h2 class="text text-lg-lg text-md-md text-sm-sm text-xs-xs">PHEONIX</h2>
                                    <h5 class="text text-light">Type : <span>Duelist</span>
                                    </h5>
                                    <h5 class="text text-light">Origin : <span>United Kingdom <img
                                                src="/static/images/Country/Uk.png" class="img-fluid country-flag"
                                                alt=""></span></h5>
                                    <p class="text text-light"><i>
                                            Hailing from the U.K., <span class="text fw-bold">Pheonix's</span> star
                                            power shines through in his fighting style, igniting the battlefield with
                                            flash and flare. Whether he's got backup or not, he'll rush into a fight on
                                            his own terms.</i>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="/static/images/carousel/Raze.jpg" class="d-block w-100" alt="...">
                            <div class="desc">
                                <div class="row p-2">
                                    <h2 class="text text-lg-lg text-md-md text-sm-sm text-xs-xs">RAZE</h2>
                                    <h5 class="text text-light">Type : <span>Duelist</span>
                                    </h5>
                                    <h5 class="text text-light">Origin : <span>Brazil <img
                                                src="/static/images/Country/Brazil.png" class="img-fluid country-flag"
                                                alt=""></span></h5>
                                    <p class="text text-light"><i>
                                            <span class="text fw-bold">Raze</span> explodes out of Brazil with her big
                                            personality and big guns. With her blunt-force-trauma playstyle, she excels
                                            at flushing entrenched enemies and clearing tight spaces with a generous
                                            dose of “boom.”
                                        </i>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="/static/images/carousel/Reyna.jpg" class="d-block w-100" alt="...">
                            <div class="desc">
                                <div class="row p-2">
                                    <h2 class="text text-lg-lg text-md-md text-sm-sm text-xs-xs">REYNA</h2>
                                    <h5 class="text text-light">Type : <span>Duelist</span>
                                    </h5>
                                    <h5 class="text text-light">Origin : <span>Mexico <img
                                                src="/static/images/Country/Mexico.png" class="img-fluid country-flag"
                                                alt=""></span></h5>
                                    <p class="text text-light"><i>
                                            Forged in the heart of Mexico, <span class="text fw-bold">Reyna</span>
                                            dominates single combat, popping off with each kill she scores. Her
                                            capability is only limited by her raw skill, making her highly dependent on
                                            performance.</i>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="/static/images/carousel/Sage.jpg" class="d-block w-100" alt="...">
                            <div class="desc">
                                <div class="row p-2">
                                    <h2 class="text text-lg-lg text-md-md text-sm-sm text-xs-xs">SAGE</h2>
                                    <h5 class="text text-light">Type : <span>Sentinel</span>
                                    </h5>
                                    <h5 class="text text-light">Origin : <span>China <img
                                                src="/static/images/Country/China.png" class="img-fluid country-flag"
                                                alt=""></span></h5>
                                    <p class="text text-light"><i>
                                            The bastion of China, <span class="text fw-bold">Sage</span> creates safety
                                            for herself and her team wherever she goes. Able to revive fallen friends
                                            and stave off aggressive pushes, she provides a calm center to a hellish
                                            fight.</i>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="/static/images/carousel/Skye.png" class="d-block w-100" alt="...">
                            <div class="desc">
                                <div class="row p-2">
                                    <h2 class="text text-lg-lg text-md-md text-sm-sm text-xs-xs">SKYE</h2>
                                    <h5 class="text text-light">Type : <span>Initiator</span>
                                    </h5>
                                    <h5 class="text text-light">Origin : <span>Australia <img
                                                src="/static/images/Country/Australia.png"
                                                class="img-fluid country-flag" alt=""></span></h5>
                                    <p class="text text-light"><i>
                                            Hailing from Australia, <span class="text fw-bold">Skye</span> and her band
                                            of beasts trail-blaze the way through hostile territory. With her creations
                                            hampering the enemy, and her power to heal others, the team is strongest and
                                            safest by Skye's side.</i>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="/static/images/carousel/Sova.jpg" class="d-block w-100" alt="...">
                            <div class="desc">
                                <div class="row p-2">
                                    <h2 class="text text-lg-lg text-md-md text-sm-sm text-xs-xs">SOVA</h2>
                                    <h5 class="text text-light">Type : <span>Initiator</span>
                                    </h5>
                                    <h5 class="text text-light">Origin : <span>Russia <img
                                                src="/static/images/Country/Russia.png" class="img-fluid country-flag"
                                                alt=""></span></h5>
                                    <p class="text text-light"><i>
                                            Born from the eternal winter of Russia's tundra, <span
                                                class="text fw-bold">Sova</span> tracks, finds, and eliminates enemies
                                            with ruthless efficiency and precision. His custom bow and incredible
                                            scouting abilities ensure that even if you run, you cannot hide.</i>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="/static/images/carousel/Viper.jpg" class="d-block w-100" alt="...">
                            <div class="desc">
                                <div class="row p-2">
                                    <h2 class="text text-lg-lg text-md-md text-sm-sm text-xs-xs">VIPER</h2>
                                    <h5 class="text text-light">Type : <span>Controller</span>
                                    </h5>
                                    <h5 class="text text-light">Origin : <span>United States <img
                                                src="/static/images/Country/Us.png" class="img-fluid country-flag"
                                                alt=""></span></h5>
                                    <p class="text text-light"><i>
                                            The American chemist, <span class="text fw-bold">Viper</span> deploys an
                                            array of poisonous chemical devices to control the battlefield and choke the
                                            enemy's vision. If the toxins don't kill her prey, her mind games surely
                                            will.</i>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img src="/static/images/carousel/Yoru.jpg" class="d-block w-100" alt="...">
                            <div class="desc">
                                <div class="row p-2">
                                    <h2 class="text text-lg-lg text-md-md text-sm-sm text-xs-xs">YORU</h2>
                                    <h5 class="text text-light">Type : <span>Duelist</span>
                                    </h5>
                                    <h5 class="text text-light">Origin : <span>Japan <img
                                                src="/static/images/Country/Japan.png" class="img-fluid country-flag"
                                                alt=""></span></h5>
                                    <p class="text text-light"><i>
                                            Japanese native <span class="text fw-bold">Yoru</span> rips holes straight
                                            through reality to infiltrate enemy lines unseen. Using deception and
                                            aggression in equal measure, he gets the drop on each target before they
                                            know where to look.</i>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <!--  Agents -->

    <!--Maps-->
    <section id="three" class="three p-3">
        <div class="container p-3">
            <h1 class="fw-bold text-light mx-5" style="font-family: 'ValorantFont', sans-serif;">MAPS</h1>
            <div class="row" style="background-color: #ff4656; height: 3px;">
                <hr>
            </div>
            <div class="row p-3">
                <div class="col-md-4 mt-md-4">
                    <div class="card" style="background-color: rgba(7, 109, 210, 0);">
                        <img src="/static//images/Maps/Bind.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" style="color: #ff4656;">BIND</h5>
                            <p class="card-text" style="font-size: smaller; color: rgb(242, 248, 254);">If you want to
                                go far, you’ll have to go up. A pair of sites split by an elevated center allows for
                                rapid movement using two rope ascenders. Each site is built with a looming tower vital
                                for control. Remember to watch above before it all blows sky-high.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item fw-bolder" style="background-color: #ffffff00; color: #ff4656;">
                                Location : <span class="fw-bold text-light">Rabat, Morocco, Alpha Earth <img
                                        src="/static/images/Country/Morocco.png" class="img-fluid country-flag"></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 mt-4">
                    <div class="card" style="background-color: rgba(7, 109, 210, 0);">
                        <img src="/static//images/Maps/Heaven.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" style="color: #ff4656;">PEARL</h5>
                            <p class="card-text" style="font-size: smaller;  color: rgb(242, 248, 254);">Attackers push
                                down into the Defenders on this two-site map set in a vibrant, underwater city. Pearl is
                                a geo-driven map with no mechanics. Take the fight through a compact mid or the longer
                                range wings in our first map set in Omega Earth.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item fw-bolder" style="background-color: #ffffff00; color: #ff4656;">
                                Location : <span class="fw-bold text-light"> Lisbon, Portugal, Omega Earth <img
                                        src="/static/images/Country/Portugal.png" class="img-fluid country-flag"></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 mt-4">
                    <div class="card" style="background-color: rgba(7, 109, 210, 0);">
                        <img src="/static//images/Maps/Split.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" style="color: #ff4656;">SPLIT</h5>
                            <p class="card-text" style="font-size: smaller; color: rgb(242, 248, 254);">If you want to
                                go far, you’ll have to go up. A pair of sites split by an elevated center allows for
                                rapid movement using two rope ascenders. Each site is built with a looming tower vital
                                for control. Remember to watch above before it all blows sky-high.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item fw-bolder" style="background-color: #ffffff00; color: #ff4656;">
                                Location : <span class="fw-bold text-light">Tokyo, Japan, Alpha Earth <img
                                        src="/static/images/Country/Japan.png" class="img-fluid country-flag"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row p-3">
                <div class="col-md-4 mt-md-4">
                    <div class="card" style="background-color: rgba(7, 109, 210, 0);">
                        <img src="/static//images/Maps/Ascent.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" style="color: #ff4656;">ASCENT</h5>
                            <p class="card-text" style="font-size: smaller; color: rgb(242, 248, 254);">If you want to
                                go far, you’ll have to go up. A pair of sites split by an elevated center allows for
                                rapid movement using two rope ascenders. Each site is built with a looming tower vital
                                for control. Remember to watch above before it all blows sky-high.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item fw-bolder" style="background-color: #ffffff00; color: #ff4656;">
                                Location : <span class="fw-bold text-light"> Venice, Italy, Alpha Earth <img
                                        src="/static/images/Country/Italy.png" class="img-fluid country-flag"></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 mt-4">
                    <div class="card" style="background-color: rgba(7, 109, 210, 0);">
                        <img src="/static//images/Maps/Fracture.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" style="color: #ff4656;">FRACTURE</h5>
                            <p class="card-text" style="font-size: smaller; color: rgb(242, 248, 254);">A top secret
                                research facility split apart by a failed radianite experiment. With defender options as
                                divided as the map, the choice is yours: meet the attackers on their own turf or batten
                                down the hatches to weather the assault.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item fw-bolder" style="background-color: #ffffff00; color: #ff4656;">
                                Location : <span class="fw-bold text-light">US Santa Fe County, New Mexico, USA, Alpha
                                    Earth <img src="/static/images/Country/Us.png"
                                        class="img-fluid country-flag"></span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 mt-4">
                    <div class="card" style="background-color: rgba(7, 109, 210, 0);">
                        <img src="/static//images/Maps/Breeze.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" style="color: #ff4656;">BREEZE</h5>
                            <p class="card-text" style="font-size: smaller; color: rgb(242, 248, 254);">Take in the
                                sights of historic ruins or seaside caves on this tropical paradise. But bring some
                                cover. You'll need them for the wide open spaces and long range engagements. Watch your
                                flanks and this will be a Breeze.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item fw-bolder" style="background-color: #ffffff00; color: #ff4656;">
                                Location : <span class="fw-bold text-light">Bermuda Triangle, Atlantic Ocean, Alpha
                                    Earth</span></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row p-3">
                <div class="col-md-4 mt-md-4">
                    <div class="card" style="background-color: rgba(7, 109, 210, 0);">
                        <img src="/static//images/Maps/Sunset.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" style="color: #ff4656;">SUNSET</h5>
                            <p class="card-text" style="font-size: smaller; color: rgb(242, 248, 254);">A disaster at a
                                local kingdom facility threatens to engulf the whole neighborhood. Stop at your favorite
                                food truck then fight across the city in this traditional three lane map.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item fw-bolder" style="background-color: #ffffff00; color: #ff4656;">
                                Location : <span class="fw-bold text-light">Los Angeles, California, USA, Alpha Earth
                                    <img src="/static/images/Country/Us.png" class="img-fluid country-flag"></span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 mt-4">
                    <div class="card" style="background-color: rgba(7, 109, 210, 0);">
                        <img src="/static//images/Maps/Heaven.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" style="color: #ff4656;">HEAVEN</h5>
                            <p class="card-text" style="font-size: smaller; color: rgb(242, 248, 254);">Beneath a
                                forgotten monastery, a clamour emerges from rival Agents clashing to control three
                                sites. There’s more territory to control, but defenders can use the extra real estate
                                for aggressive pushes.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item fw-bolder" style="background-color: #ffffff00; color: #ff4656;">
                                Location : <span class="fw-bold text-light">Thimphu, Bhutan, Alpha Earth <img
                                        src="/static/images/Country/Butan.png" class="img-fluid country-flag"></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 mt-4">
                    <div class="card" style="background-color: rgba(7, 109, 210, 0);">
                        <img src="/static//images/Maps/Lotus.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" style="color: #ff4656;">LOTUS</h5>
                            <p class="card-text" style="font-size: smaller; color: rgb(242, 248, 254);">A mysterious
                                structure housing an astral conduit radiates with ancient power. Great stone doors
                                provide a variety of movement opportunities and unlock the paths to three mysterious
                                sites.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item fw-bolder" style="background-color: #ffffff00; color: #ff4656;">
                                Location : <span class="fw-bold text-light">Western Ghats, India, Omega Earth <img
                                        src="/static/images/Country/India.png" class="img-fluid country-flag"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row p-3">
                <div class="col-md-4 mt-md-4">
                    <div class="card" style="background-color: rgba(7, 109, 210, 0);">
                        <img src="/static//images/Maps/Icebox.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" style="color: #ff4656;">ICEBOX</h5>
                            <p class="card-text" style="font-size: smaller; color: rgb(242, 248, 254);">Your next
                                battleground is a secret Kingdom excavation site overtaken by the arctic. The two plant
                                sites protected by snow and metal require some horizontal finesse. Take advantage of the
                                ziplines and they’ll never see you coming.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item fw-bolder" style="background-color: #ffffff00; color: #ff4656;">
                                Location : <span class="fw-bold text-light">Bennett Island, Russia, Alpha Earth <img
                                        src="/static/images/Country/Russia.png" class="img-fluid country-flag"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!--Maps-->

    <!-- Gamemodes -->
    <section id="four" class="p-3">
        <div class="container p-3">
            <h1 class="fw-bold text-light mx-5" style="font-family: 'ValorantFont', sans-serif;">GAMEMODES</h1>
            <div class="row" style="background-color: #ff4656; height: 3px;">
                <hr>
            </div>
            <div class="row p-3">
                <table class="table text-white d-none d-md-block">
                    <thead>
                        <tr class="" style="color: #ff4656;">
                            <th >Mode</th>
                            <th >Icon</th>
                            <th >Description</th>
                            <th >Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% gameModes.forEach((mode)=>{ %>
                            <tr>
                                <td>
                                    <% if(mode.displayName){ %>
                                        <%= mode.displayName %>
                                    <% }else{ %>
                                        <p>No displayName</p>
                                    <% } %>
                                </td>
                                <td>
                                    <% if(mode.displayIcon){ %>
                                        <img src="<%= mode.displayIcon %>" class="w-50">
                                    <% }else{ %>
                                        <p>No displayIcon</p>
                                    <% } %>
                                </td>
                                <td>
                                    <% if(mode.description){ %>
                                        <%= mode.description %>
                                    <% }else{ %>
                                        <p>No description</p>
                                    <% } %>
                                </td>
                                <td>
                                    <% if(mode.duration){ %>
                                        <%= mode.duration %>
                                    <% }else{ %>
                                        <p>No duration</p>
                                    <% } %>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
                <% gameModes.forEach((mode)=>{ %>
                    <% if(mode.displayName && mode.description && mode.duration){ %>
                        <div class="card text-light shadow d-block d-md-none border m-2 p-4" style="background-color: rgba(7, 109, 210, 0);">
                            <div class="card-img p-2 d-flex align-item-center justify-content-center">
                                <img src="<%= mode.displayIcon %>" class="w-25">
                            </div>
                            <span><h5 class="text-center"><%= mode.displayName %></h5></span>
                            <p><span>Description : </span><%= mode.description %></p>
                            <p><span>Duration : </span><%= mode.duration %></p>
                        </div>
                        <% } %>
                <% }) %>
            </div>
        </div>
    </section>
    <!-- Gamemodes -->

    <!-- Tiers -->
    <section id="four" class="p-3">
        <div class="container p-3">
            <h1 class="fw-bold text-light mx-5" style="font-family: 'ValorantFont', sans-serif;">COMPETITIVE TIERS</h1>
            <div class="row" style="background-color: #ff4656; height: 3px;">
                <hr>
            </div>
            <div class="row p-3">
                <% tiers.forEach((tier)=>{ %>
                    <div class="col-6 col-md-4 col-lg-2 mt-md-4">
                        <div class="card" style="background-color: rgba(7, 109, 210, 0);">
                            <div class="card-img p-2 d-flex align-item-center justify-content-center" style="background-color: #<%= tier.bg %>">
                                <img src="<%= tier.icon %>" class="w-25">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title" style="color: #ff4656;"><%= tier.tierName %></h5>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </section>
    <!-- Tiers -->

    <footer id="footer">
        <div class="container">
            <div class="row" style="background-color: #ff4656; height: 3px;">
                <hr>
            </div>
            <div class="row p-4 text-center">
                <p class="text text-light">Designed by <span><a href="https://github.com/midhunkalarikkal"
                            style="text-decoration: none; color: #ff4656;">midhun k paniker</a></span></p>
            </div>
        </div>
    </footer>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script>
        document.getElementById('carouselExampleAutoplaying').addEventListener('mouseover', function () {
            document.querySelector('.carousel-control-prev').style.visibility = 'visible';
            document.querySelector('.carousel-control-next').style.visibility = 'visible';
        });

        document.getElementById('carouselExampleAutoplaying').addEventListener('mouseout', function () {
            document.querySelector('.carousel-control-prev').style.visibility = 'hidden';
            document.querySelector('.carousel-control-next').style.visibility = 'hidden';
        });
    </script>

</body>

</html>